<section class="banner team">
</section>
{{about-nav tagName="section" classNames="subheader"}}
<section class="page team">
    <h1>We're from around the world</h1>
    <ul>
        {{#each model as |member|}}
            {{#if member.show}}
                {{#if member.photo}}
                    <li>
                        <img src={{member.photo}} title={{member.languages}}>
                        <p>{{member.name}}</p>
                        <p class="country">{{member.location}}</p>
                    </li>
                {{/if}}
            {{/if}}
        {{/each}}
    </ul>
    {{#link-to "getInvolved.volunteer" tagName="button"}}Become a volunteer today{{/link-to}}
</section>