<section class="banner index"></section>
<section class="page index">
  <div class="information">
      <h1>Every language in the world</h1>
      <a class="youTubeLink" href="https://www.youtube.com/user/Wikitongues" target="_blank">
          <img src="assets/images/youTubeLink.jpg" alt="">
          <div class="triangle"></div>
          <p>Join us on YouTube</p>
      </a>
      <br>
      <p>Wikitongues is a global effort to record and provide access to every language in the world. We’re a network of volunteers on every continent who work to bring you new language videos every week, driven by a commitment to the value of diversity. Be a part of our movement.</p>
      <ul class="activities">
        <li>
          {{#link-to "getInvolved.submit" tagName="button"}}Submit a video{{/link-to}}
        </li>
        <li>
          {{#link-to "getInvolved.volunteer" tagName="button"}}Become a volunteer{{/link-to}}
        </li>
        <li>
          <a href="https://www.fracturedatlas.org/site/fiscal/profile?id=11735" target="_blank">Support us</a>
        </li>
      </ul>
  </div>
  <div class="progress">
    <h1>Mission Progress</h1>
{{!--     <p>Latest language acquired:</p>
    <ul>
      <li>
        <p>Lakota</p>
      </li>
      <li>
        <p>Atlaans</p>
      </li>
      <li>
        <p>Belarusan</p>
      </li>
    </ul>
    <p>Latest videos published:</p>
    <ul>
      <li><p>Junior speaking Lakota</p></li>
      <li><p>Peter speaking Portuguese, Spanish, Italian, and English</p></li>
      <li><p>Recep speaking Turkish</p></li>
    </ul> --}}
    <p>So far, we've recorded and received 266 videos in 144 languages listed below (roughly 2%).</p>
    <div class="progressBarContainer"><span class="progressBar"></span></div>
    <ul class="progressList">
      {{#each model as |progress|}}
        {{#if progress.links}}
          <li class="link">
            <a href={{progress.links}} title={{progress.name}}>{{progress.name}}</a>
          </li>
          {{else}}
          <li>
            <p title={{progress.name}}>{{progress.name}}</p>
          </li>
        {{/if}}
      {{/each}}
    </ul>
    <section class="submit">
      <p>Where's my language?</p>
      <p>We work night and day to bring access to every language in the world. If you or some one you know speaks a language we've yet to record, please don't hesitate to {{#link-to "getInvolved.submit"}}send us a video{{/link-to}} or {{#link-to "getInvolved.contact"}}reach out to say hello!{{/link-to}}</p>
    </section>
  </div>
</section>